<div class="container main-content">
  <div class="h1 main__title">
    <h1>User Information</h1>
  </div>

  <app-search-input
    placeholder="Custom"
    (newQuery)="onNewQuery($event)"></app-search-input>
  <!-- <app-projected-search-input (newQuery)="onNewQuery($event)">
    <input
      #myInputRef
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1">
  </app-projected-search-input> -->

  <div class="container-fluid">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    </table>

    <!-- <app-user-row-info
      *ngFor="let item of users"
      [data]="item"></app-user-row-info> -->

    <!-- <app-user-row-info
      *ngFor="let item of users"
      [data]="item"
      [withActionButton]="true"></app-user-row-info> -->

    <!-- <app-user-row-info
      *ngFor="let item of users"
      (actionClick)="onActionClick($event)"
      [data]="item"
      [hideSwitch]="true"
      [actions]="customActions"></app-user-row-info> -->

    <!-- <app-user-row-info
      *ngFor="let item of users"
      (actionClick)="onActionClick($event)"
      [data]="item"
      [actionsWithType]="customTypedActions"></app-user-row-info> -->

    <app-projected-user-row-info
      *ngFor="let item of users"
      [data]="item">
      <button
        type="button"
        class="btn btn-info">
        Ver
      </button>
      <button
        type="button"
        class="btn btn-info">
        Eliminar
      </button>
    </app-projected-user-row-info>

  </div>

</div>
